<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:method="POST" th:action="@{/readers}" th:object="${reader}">
    <label for="name" >Enter reader name</label>
    <input type="text" th:field="*{reader_name}" id="name">

    <br/>
    <label for="year" >Enter reader year</label>
    <input type="text" th:field="*{reader_year}" id="year">

    <br/>
    <input type="submit" value="Create person!"/>
</form>

</body>
</html>